<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>SocialRecommendation</display-name>

    <!-- See the welcome-file Reference Material here: http://www.javatpoint.com/welcome-file-list -->
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Startup</servlet-name>
        <servlet-class>Startup</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--<servlet-mapping>-->
        <!--<servlet-name>Startup</servlet-name>-->
        <!--<url-pattern>Startup</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccessoryList</servlet-name>
        <servlet-class>AccessoryList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AccessoryList</servlet-name>
        <url-pattern>/AccessoryList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Account</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Cart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>CheckOut</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>CreateOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FitnessWatchList</servlet-name>
        <servlet-class>FitnessWatchList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FitnessWatchList</servlet-name>
        <url-pattern>/FitnessWatchList</url-pattern>
    </servlet-mapping>


 <servlet>
        <servlet-name>TVList</servlet-name>
        <servlet-class>TVList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TVList</servlet-name>
        <url-pattern>/TVList</url-pattern>
    </servlet-mapping>


 <servlet>
        <servlet-name>SoundList</servlet-name>
        <servlet-class>SoundList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SoundList</servlet-name>
        <url-pattern>/SoundList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HeadphoneList</servlet-name>
        <servlet-class>HeadphoneList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeadphoneList</servlet-name>
        <url-pattern>/HeadphoneList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LaptopList</servlet-name>
        <servlet-class>LaptopList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LaptopList</servlet-name>
        <url-pattern>/LaptopList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>NextAccessory</servlet-name>
        <servlet-class>NextAccessory</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NextAccessory</servlet-name>
        <url-pattern>/NextAccessory</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Payment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PetTrackerList</servlet-name>
        <servlet-class>PetTrackerList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PetTrackerList</servlet-name>
        <url-pattern>/PetTrackerList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PhoneList</servlet-name>
        <servlet-class>PhoneList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PhoneList</servlet-name>
        <url-pattern>/PhoneList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PrevAccessory</servlet-name>
        <servlet-class>PrevAccessory</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PrevAccessory</servlet-name>
        <url-pattern>/PrevAccessory</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveCart</servlet-name>
        <servlet-class>RemoveCart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveCart</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveUpdateOrder</servlet-name>
        <servlet-class>RemoveUpdateOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveUpdateOrder</servlet-name>
        <url-pattern>/RemoveUpdateOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveUpdateProduct</servlet-name>
        <servlet-class>RemoveUpdateProduct</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveUpdateProduct</servlet-name>
        <url-pattern>/RemoveUpdateProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SalesmanHome</servlet-name>
        <servlet-class>SalesmanHome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SalesmanHome</servlet-name>
        <url-pattern>/SalesmanHome</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>WriteReview</servlet-name>
        <servlet-class>WriteReview</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WriteReview</servlet-name>
        <url-pattern>/WriteReview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmartWatchList</servlet-name>
        <servlet-class>SmartWatchList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SmartWatchList</servlet-name>
        <url-pattern>/SmartWatchList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StoreManagerHome</servlet-name>
        <servlet-class>StoreManagerHome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StoreManagerHome</servlet-name>
        <url-pattern>/StoreManagerHome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateOrder</servlet-name>
        <servlet-class>UpdateOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateOrder</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UpdateProduct</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>ViewOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/ViewOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VirtualRealityList</servlet-name>
        <servlet-class>VirtualRealityList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VirtualRealityList</servlet-name>
        <url-pattern>/VirtualRealityList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VoiceAssistantList</servlet-name>
        <servlet-class>VoiceAssistantList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VoiceAssistantList</servlet-name>
        <url-pattern>/VoiceAssistantList</url-pattern>
    </servlet-mapping>
</web-app>